# Dependencies
/node_modules

# Vite build output
# We are commenting this out because our deployment strategy for GitHub Pages
# requires committing the build output folder (renamed to 'docs').
# /dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db